html(lang="ru")
    head
        meta(charset="utf-8")
        title="WebChat"
        link(rel="stylesheet" type="text/css" href="../serverErrorModules/serverErrorStyles.css")
    body
        div(class = "pageContainer")
            main(class = "contentContainer")
                h1= 404
                p= "Не найдено такой страницы"
                a(href='../chatPageModules/chatPage.pug')= "Вернуться к чатам"
