html(lang="ru")
    head
        meta(charset="utf-8")
        title="WebChat"
        link(rel="stylesheet" type="text/css" href="./serverErrorStyles.css")
    body
        div(class = "pageContainer")
            main(class = "contentContainer")
                h1= 500
                p= "Мы уже работаем над исправлением"
                a(href='../chatPageModules/chatPage.pug')= "Вернуться к чатам"
