@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//переменные с цветами проекта
$white: #ffffff;
$grWhite: #ebedf2;
$grey: #999999;
$black: #162026;
$blViolet: #5852f2;
$shadowColour: #bebebe;
$red: #ff0000;

//служебные цвета(могут уйти в будущем, используются для подсветок)
$stuffColour: #d9d9d9;

//убираем дефолтные стили
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

//главный контейнер - страница
.pageContainer {
    width: 100%;
    height: 100vh;
    background: $white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    //контейнер с содержимым
    .contentContainer {
        width: 400px;
        height: 400px;
        //background: #EBEDF2;
        border-radius: 30px;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    //заголовок с ошибкой
    .header {
        font-size: 96px;
        font-weight: normal;
        margin: 0 0 30px 0;
    }

    //описание проблемы
    .description {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 30px 0;
    }

    .chatLink {
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
        color: $blViolet;
        cursor: pointer;
    }
}
