@import '../../../utils/styles/_colours';
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Roboto&display=swap";
// убираем дефолтные стили
* {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $grWhite; /* цвет дорожки */
}

::-webkit-scrollbar-thumb {
  background-color: $grey;
  border-radius: 20px;
}

// общий контейнер по странице
.pageContainer {
  width: 100%;
  max-height: 100vh;
  background: $white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  // список чатов
  .listOfChats {
    width: 420px;
    height: 100vh;
    overflow: auto;
    background: $grWhite;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

    // ссылка на профиль
    .profileLink {
      font-size: 16px;
      font-weight: 550;
      color: $grey;
      margin: 20px;
      align-self: flex-start;
      text-decoration: none;
    }

    // заголовок в списке чатов
    .chatsHeader {
      font-size: 24px;
      font-weight: 550;
      margin: 20px 0 10px;
      color: $black;
    }
  }

  // блок со всеми чатами
  .chatContainer {
    width: fit-content;
    max-height: fit-content;
    overflow: auto;

    // экземпляр из списка чатов
    .chat {
      width: 400px;
      height: 100px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      margin: 0 0 0 5px;

      // фото контакта
      .logo {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background: $grey;
        margin: 0 0 0 5px;
      }

      // блок с фио контакта и последним сообщением
      .infoContainer {
        height: 100px;
        width: 200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        // контакты собеседника
        .opData {
          font-size: 14px;
          font-weight: 600;
          margin: 15px 0 10px 15px;
          color: $black;
        }

        // последнее сообщение
        .lastMessage {
          font-size: 14px;
          font-weight: 550;
          margin: 0 0 0 15px;
          color: $grey;
        }
      }

      // контейнер со вторичной информацией диалога
      .secondInfoContainer {
        height: 100px;
        width: 100px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        // дата последнего сообщения
        .lastMessageDate {
          font-size: 14px;
          font-weight: 550;
          margin: 0 0 0 15px;
          color: $grey;
          align-self: flex-end;
        }

        // индикатор пропущенного сообщения
        .mesIndContainer {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background: $violet;
          align-self: flex-end;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          margin: 0 0 40px;
          color: $white;
        }
      }
    }
  }

  // блок открытого чата
  .chatExContainer {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    font-size: 14px;
    height: 100vh;

    // приветственное сообщение
    .startP {
      color: $grey;
    }

    // шапка диалога
    .chatHeader {
      height: 100px;
      width: 100%;
      box-shadow: 0 1px 0 rgb(0 0 0 / 25%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
      border-radius: 0 0 10px 10px;

      .material-symbols-outlined {
        justify-self: flex-end;
        margin: 0 0 0 15px;
        cursor: pointer;
      }

      // аватарка собеседника
      .logo {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background: $grey;
        margin: 0 0 0 15px;
      }

      // логин собеседника
      .friendLogin {
        font-size: 18px;
        color: $black;
        font-weight: 500;
        margin: 0 0 0 20px;
      }
    }

    // основная часть блока диалого
    .chatMainPart {
      width: 100%;
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;
      overflow: auto;
      justify-content: flex-start;
      align-items: center;

      .chatMainPartArea {
        margin: 10px 0 0;
        display: flex;
        flex-flow: column nowrap;
        overflow: auto;
        justify-content: flex-start;
        align-items: center;
        width: 97%;
        row-gap: 20px;

        // моё сообщение
        .myMessageContainer {
          background: $violet;
          width: 715px;
          height: fit-content;
          align-self: flex-end;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-flow: column nowrap;
          border-radius: 20px;
          margin: 0 10px 0 0;

          .messageText {
            padding: 15px;
            font-style: normal;
            color: $black;
            font-weight: 400;
            font-size: 14px;
          }

          .messageTime {
            align-self: flex-end;
            margin: 0 15px 5px 0;
          }
        }

        // сообщение собеседника
        .friendMessageContainer {
          background: $grWhite;
          width: 715px;
          height: fit-content;
          align-self: flex-start;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-flow: column nowrap;

          .messageText {
            padding: 15px;
            font-style: normal;
            color: $black;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
          }

          .messageTime {
            align-self: flex-end;
            margin: 0 15px 5px 0;
          }
        }
      }
    }

    // низ блока - отправка сообщения
    .chatFooter {
      height: 120px;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      // поле ввода сообщения
      .messageInput {
        width: 1300px;
        background: $grWhite;
        height: 50px;
        border: none;
        margin: 0 0 0 15px;
        color: $black;
        font-size: 14px;
        padding: 0 0 0 20px;
        border-radius: 20px;
      }

      // кнопка отправки сообщения
      .inputMessageButton {
        width: 50px;
        height: 50px;
        background: $violet;
        border-radius: 50%;
        margin: 0 40px 0 0;
        cursor: pointer;
        border: none;
      }
    }
  }
}
